:root {
  --background-color: #1f1e1e;
  --surface-primary-color: #403c3c;
  --surface-secondary-color: #55585c;
  --text-color: #ffffff;
  --border-color: #696969;
  --header-background-color: #101010;
  --font-family: "Roboto", Arial, sans-serif;
}
